.containerNotFoundPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btnNotFoundPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}